.menu-icon {
  display: none;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  @import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
  font-family: "PT Serif", serif;
  color: white;
  z-index: 9;
}
.header-logo {
  span {
    color: white;
  }
  &:hover {
    opacity: 50%;
    transition: 0.2s;
    cursor: pointer;
  }
}

.header.active {
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
  transition: 0.4s linear;
  span {
    color: black;
  }
  nav.header-nav {
    a {
      color: black;
      transition: 0.4s linear;
    }
  }
}

div.header-contens {
  display: flex;
  width: 93%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
nav.header-nav {
  display: flex;

  ul.nav-menu-name {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    font-size: 13px;
  }
  ul.nav-menu-icon {
    display: flex;
    list-style: none;
    font-size: 17px;
  }
  li {
    margin-left: 30px;
    &:hover {
      opacity: 50%;
      transition: 0.2s;
      cursor: pointer;
    }
    a {
      color: white;
    }
  }
}
@media (max-width: 480px) {
  //모바일
  .menu-icon {
    display: flex;
    span {
      color: white;
    }
    &:hover {
      opacity: 50%;
      transition: 0.2s;
      cursor: pointer;
    }
  }
  .header.active {
    height: 60px;
  }
  .header {
    height: 60px;
    .header-logo {
      padding-left: 20%;
    }
    .header-contens {
      justify-content: space-between;
      ul.nav-menu-name {
        display: none;
      }
      li {
        margin-left: 17px;
      }
    }
  }
}
