div.main-wrapper {
  height: 100%;
  background-color: white;
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
  font-family: "Noto Sans KR", sans-serif;
}

div.main-image {
  height: 100vh;
  background-image: url(https://ifh.cc/g/5DEPBA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
div.main-contents {
  padding-top: 120px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-contents-title p {
    font-size: 16px;
    @import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
    font-family: "PT Serif", serif;
  }
  .main-contents-item p {
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 0.4em;
  }
}

div.gallery-wrapper {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  img {
    max-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin: 5px;
    &:hover {
      filter: brightness(80%);
      transition: 0.5s;
      cursor: pointer;
    }
  }
}
