@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
.shop-contents-wrap {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif", serif;
  .search-wrap {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding-bottom: 30px;
  }
  .shop-check-wrap {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 50px;
    text-align: center;
    div {
      flex-basis: 100%;
    }
  }
  .shop-title {
    padding-bottom: 50px;
    font-size: 20px;
  }
  .shop-more {
    justify-content: center;
  }
  .shop-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .shop-card-img {
      .ant-carousel {
        max-width: 300px;
        max-height: 400px;
        min-width: 300px;
        min-height: 400px;
      }
      img {
        min-width: 300px;
        min-height: 400px;
        max-width: 300px;
        max-height: 400px;
      }
    }
    .shop-card-contents {
      li:hover {
        background-color: #f6f6f6;
      }
      ul {
        list-style-type: none;
        text-align: center;
        margin: 0px;
        padding: 0px;
        max-width: 900px;
        width: 100%;
        padding-bottom: 30px;
        li {
          display: block;
          padding: 10px;
          margin-bottom: 5px;
          border: 1px solid #efefef;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 683px) {
  .shop-check-wrap {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  //모바일
  .shop-contents-wrap {
    width: 100%;
    .shop-card {
      div.shop-card-img {
        .ant-carousel {
          max-width: 180px;
          max-height: 200px;
          min-width: 180px;
          min-height: 200px;
        }
        img {
          min-width: 180px;
          min-height: 200px;
          max-width: 180px;
          max-height: 200px;
        }
      }
    }
  }
}
