@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

div.cart-contents-wrap {
  text-align: center;
  font-family: "PT Serif", serif;
}
.cart-title {
  padding-bottom: 20px;
  font-size: 20px;
}
